@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="slider_area slider_bg_1">
    <div class="slider_text">
        <div class="container">
            <div class="position_relv">
                <h1 class="opcity_text d-none d-lg-block">#SimpleApps</h1>
                <div class="row">
                    <div class="col-xl-9">
                        <div class="title_text">
                            <h3>
                                Tiny <br>
                                Apps <br>
                                Project
                            </h3>
                            <a href="#" class="boxed-btn-white">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>