@page
@model TinyAppsProject.Pages.RandomNumberGeneratorModel
@{
    ViewData["Title"] = "RandomNumberGenerator";
}
<link rel="stylesheet" href="~/css/rngstyle.css" asp-append-version="true">


<div class="slider_area slider_bg_1">
    <div class="d-flex justify-content-center">
        <div class="slider_text">
            <div class="container">
                <span id="ranNum"></span>
                <button id="generate">Generate</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/randomNumberGenerator.js" asp-append-version="true"></script>
