* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1ab8f9;
    font-size: 125%;
    line-height: 1;
    color: #1ab8f9;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

main > * + * {
    margin-top: 5.75rem;
}

main {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
}

button {
    font-size: 1.75em;
    font-weight: 700;
    line-height: 1;
    padding: .75rem;
    background: #1ab8f9;
    color: #fdb702;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    cursor: pointer;
    transition: all .1s ease-out;
}

    button:hover {
        background: rebeccapurple;
        color: white;
        border: 2px solid rebeccapurple;
        border-radius: 5px;
    }

    button:focus, button:active {
        outline: none;
    }

    button:active {
        background: orangered;
    }

#ranNum {
    font-size: 4em;
}

h2 {
    background: #1ab8f9;
    color: white;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
}

@media (max-width: 30em) {

    body {
        font-size: 100%;
        text-align: center;
    }

    main {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    button {
        font-size: 1.5em;
        padding: .35em;
    }
}

